<!-- event-details section starts  -->

<section class="home eventDetail" id="home">
  <div class="content" id="eventDetailContent">
    <div class="countdown">
      <div #day id="day">{{ d }}</div>
      <div #hour id="hour">{{ h }}</div>
      <div #minute id="minute">{{ m }}</div>
      <div #second id="second">{{ s }}</div>
    </div>
    <h3>
      {{
        event.eventTitle1 + " " + (event.eventId == 7 ? "" : event.eventType)
      }}
      <br />
      <span> {{ event.eventTitle2 }} </span>
    </h3>
    <a (click)="goToAbout()" class="btn btn1 btn2">know more</a>
    <a (click)="entry()" class="btn btn1">register now</a>
  </div>
</section>

<section #about class="about" id="about">
  <h1 class="heading"><span>about</span> event</h1>

  <div class="row eventDescription">
    <div class="content">
      <h3 *ngIf="event.description?.length">event description</h3>
      <p *ngFor="let point of event.description?.split('. ')">
        {{ point }}
      </p>
      <div
        *ngIf="event.description?.length && event.rulesAndRegulations?.length"
        class="space"
      ></div>
      <h3 *ngIf="event.rulesAndRegulations?.length">rules & regulations</h3>
      <p *ngFor="let rule of event.rulesAndRegulations?.split('. ')">
        {{ rule }}
      </p>
      <h4 *ngIf="event.eventEnded && event.winners?.length">
        event ended, check our winners
      </h4>
      <h4 *ngIf="!event.eventEnded">Sounds Interesting ?</h4>
    </div>

    <div class="content">
      <h3 *ngIf="event.prizes?.length">Prize for Winners</h3>
      <p #prizeList *ngFor="let prize of event.prizes?.split('. ')">
        {{ prize }}
      </p>
      <h3 *ngIf="!event.prizes?.length && event.speaker?.length">
        Invited Speaker
      </h3>
      <div class="speaker-area" *ngFor="let speaker of event.speaker">
        <div
          *ngIf="!event.prizes?.length && event.speaker?.length"
          class="speaker-profile"
        >
          <div class="left-part">
            <img
              class="speakerImg"
              src="assets/images/speaker-{{ event.eventId }}.jpeg"
              alt=""
            />
          </div>
          <div class="right-part">
            <p class="speakerName">{{ speaker.name }}</p>
            <p class="speakerDesig">
              {{ speaker.designation }} @
              <span id="speakerDesig">{{ speaker.organization }}</span>
            </p>
            <p class="speakerEdu">{{ speaker.education }}</p>
            <div *ngIf="speaker?.linkedInLink.length" class="icons">
              <a
                href="{{ speaker?.linkedInLink }}
          "
              >
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </div>
            <div
              *ngIf="speaker?.instaLink.length && !speaker?.linkedInLink.length"
              class="icons"
            >
              <a
                href="{{ speaker?.instaLink }}
          "
              >
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div
          *ngIf="!event.prizes?.length && event.speaker?.length"
          class="speaker-description"
        >
          {{ speaker?.description }}
        </div>
      </div>
      <div
        *ngIf="event.prizes?.length && event.judgingCriteria?.length"
        class="space"
      ></div>
      <h3 *ngIf="event.judgingCriteria?.length">Judging Criteria</h3>
      <p #prizeList *ngFor="let criteria of event.judgingCriteria?.split('. ')">
        {{ criteria }}
      </p>
      <a
        *ngIf="event.eventEnded && event.winners?.length"
        (click)="goToWinners()"
        class="btn"
        >our winners</a
      >
      <a
        *ngIf="!event.eventEnded && event.liveEventLink?.length"
        href="{{ event.liveEventLink }}"
        class="btn"
        target="_blank"
        >{{ "Join Webinar" }}</a
      >
      <a
        #eventEntryBtn
        *ngIf="!event.isEventFree && !event.eventEnded"
        class="btn"
        >{{ "register now" }}</a
      >
      <p
        *ngIf="event.liveEventLink?.length && !event.eventEnded"
        style="font-size: 12px"
      >
        *On {{ event.eventDate | slice: 0:12 }} @
        {{ event.eventDate | slice: 13:18 }}
        {{ +(event.eventDate | slice: 13:15) < 12 ? "AM" : "PM" }}
      </p>
    </div>
  </div>
</section>

<!-- about section ends -->

<!-- gallery section starts  -->

<section *ngIf="event.eventGallery.length" class="gallery" id="gallery">
  <h1 class="heading">event <span>gallery</span></h1>

  <div class="box-container">
    <div *ngFor="let gallery of event.eventGallery; let i = index" class="box">
      <img src="{{ gallery }}" alt="" />
      <h3 class="title">Geeky moments</h3>
      <div class="icons">
        <!-- <a href="#">
          <fa-icon [icon]="['fas', 'heart']"></fa-icon>
        </a> -->
        <!-- <a href="#">
          <fa-icon [icon]="['fas', 'share']"></fa-icon>
        </a> -->
        <!-- <a href="#">
          <fa-icon [icon]="['fas', 'eye']"></fa-icon>
        </a> -->
      </div>
    </div>
  </div>
</section>

<!-- gallery section ends -->

<!-- price section starts  -->

<section *ngIf="event.winners?.length" #winners class="price" id="price">
  <h1 class="heading">our <span>winners</span></h1>

  <div class="box-container">
    <div class="box" *ngFor="let winner of event.winners">
      <h3 class="title">{{ winner.position }} position</h3>
      <h3 class="amount">{{ winner.name }}</h3>
      <p class="college">{{ winner.collegeName }}</p>
      <ul>
        <li *ngFor="let prize of winner.prizesWon">
          <fa-icon [icon]="['fas', 'check']"></fa-icon> {{ prize }}
        </li>
      </ul>
    </div>
  </div>
</section>
