<section class="products margT-10" id="products">
  <h1 class="heading">Frequently Asked <span>Questions</span></h1>

  <div class="row">
    <div class="cards">
      <div class="card">
          
        <h1><a href="#0"> What are GeeksforGeeks student Chapters ?</a></h1>
        <br>
        <p> GeeksforGeeks student Chapters are university based community chapters for
          students interested in Computer Science and want to make their career in this field.
          <br> <br>
          By joining a GeeksforGeeks student Chapters , students grow their knowledge in a
          peer-to-peer learning environment and build effective and optimised solutions for
          local businesses and their community.</p>   
      </div>
      <div class="card">
         
        <h1><a href="#0"> How will GeeksforGeeks student Chapters help students ?</a></h1>
        <br>
        <p> GeeksforGeeks student Chapters will provide students with various events and
          webinars on coding or placements.
          <br><br>
           Students may get internship opportunities at GeeksforGeeks.
           <br><br>
           Along with all this students can get exclusive discounts on GFG courses.
           <br><br>
           You will get an opportunity to organize your competition on a PAN India level.
           </p>
      </div>
      <div class="card">
         
        <h1><a href="#0"> How is it beneficial for my college ?

        </a></h1>
        <br>
        <p> If you have a GeeksforGeeks student Chapters in your campus, your campus will be
          in direct contact with Geeksforgeeks.
          <br><br>
           Thus in future the college may get offers from
          GFG or other companies for placement drives and other available opportunities.
        <br><br>
        You will also stay updated regarding all the ongoing placements, internships and other hiring contests.
      </p>
      </div>
      <div class="card">
         
        <h1><a href="#0"> What perks will you get from GFG ?</a></h1>
        <br>
        
        <p> You will get a chance to win T-shirts, stickers, Pens, and Coupons upto Rs.15000. <br><br>
           You can have these whenever you hold a position in any event or competition.
           <br><br>
           It will help you to grow, learn and succeed.
           <br><br>
           It will help you grow as a better individual.
           <br><br>
           You may get an internship opportunity at GeeksforGeeks.</p>
      </div>
      <div class="card">
        
        <h1><a href="#0"> What are some of the events we can organise ?</a></h1>
        <br>
        <p> You can have Coding Events through GFG IDE.
          <br><br>
           You can have a webinar session through GFG.
           <br><br>
           You can organize a webinar with someone from your network who is good at
          wished domain.
          <br><br>
           Rest imagination and creativity with out of the box thinking has no limit.</p>
      </div>
      
    </div>
  </div>
</section>
