<section class="products margT-4" id="products">
  <h1 class="heading margB-3 home-section-heading">
    Wait... <span>Doubts?</span>
  </h1>

  <!-- <div class="row">
    <div class="cards">
      <div class="card">
        <h1><a> What are GeeksforGeeks student Chapters ?</a></h1>
        <br />
        <p>
          GeeksforGeeks student Chapters are university based community chapters
          for students interested in Computer Science and want to make their
          career in this field. <br />
          <br />
          By joining a GeeksforGeeks student Chapters , students grow their
          knowledge in a peer-to-peer learning environment and build effective
          and optimised solutions for local businesses and their community.
        </p>
      </div>
      <div class="card">
        <h1><a> How will GeeksforGeeks student Chapters help students ?</a></h1>
        <br />
        <p>
          GeeksforGeeks student Chapters will provide students with various
          events and webinars on coding or placements. <br /><br />
          Students may get internship opportunities at GeeksforGeeks.
          <br /><br />
          Along with all this students can get exclusive discounts on GFG
          courses.
          <br /><br />
          You will get an opportunity to organize your competition on a PAN
          India level.
        </p>
      </div>
      <div class="card">
        <h1><a> How is it beneficial for my college ? </a></h1>
        <br />
        <p>
          If you have a GeeksforGeeks student Chapters in your campus, your
          campus will be in direct contact with Geeksforgeeks. <br /><br />
          Thus in future the college may get offers from GFG or other companies
          for placement drives and other available opportunities.
          <br /><br />
          You will also stay updated regarding all the ongoing placements,
          internships and other hiring contests.
        </p>
      </div>
      <div class="card">
        <h1><a> What perks will you get from GFG ?</a></h1>
        <br />

        <p>
          You will get a chance to win T-shirts, stickers, Pens, and Coupons
          upto Rs.15000. <br /><br />
          You can have these whenever you hold a position in any event or
          competition.
          <br /><br />
          It will help you to grow, learn and succeed.
          <br /><br />
          It will help you grow as a better individual.
          <br /><br />
          You may get an internship opportunity at GeeksforGeeks.
        </p>
      </div>
      <div class="card">
        <h1><a> What are some of the events we can organise ?</a></h1>
        <br />
        <p>
          You can have Coding Events through GFG IDE. <br /><br />
          You can have a webinar session through GFG.
          <br /><br />
          You can organize a webinar with someone from your network who is good
          at wished domain.
          <br /><br />
          Rest imagination and creativity with out of the box thinking has no
          limit.
        </p>
      </div>
    </div>
  </div> -->
  <div class="container">
    <div class="faq-wrapper">
      <div class="left">
        <img
          class="illustration"
          src="assets/images/illustration-woman-online-desktop.svg"
          alt=""
        />
        <img
          class="box"
          src="assets/images/illustration-box-desktop.svg"
          alt=""
        />
      </div>
      <div class="right">
        <div class="content-wrapper">
          <div class="faqContainer" id="faqs">
            <div class="faqs" id="faqs1">
              <a faq-type class="questions"
                >What are GeeksforGeeks student Chapters ?
                <img
                  class="button"
                  src="assets/images/icon-arrow-down.svg"
                  alt="unwrap-icon"
                />
              </a>
              <p class="answers">
                &#9830; GeeksforGeeks student Chapters are university based
                community chapters for students interested in Computer Science
                and want to make their career in this field. <br />
                &#9830; By joining a GeeksforGeeks student Chapters , students
                grow their knowledge in a peer-to-peer learning environment and
                build effective and optimised solutions for local businesses and
                their community.
              </p>
            </div>
            <div class="faqs" id="faqs2">
              <a faq-type class="questions"
                >How will GeeksforGeeks student Chapters help students ?
                <img
                  class="button"
                  src="assets/images/icon-arrow-down.svg"
                  alt="unwrap-icon"
                />
              </a>
              <p class="answers">
                &#9830; GeeksforGeeks student Chapters will provide students
                with various events and webinars on coding or placements.
                <br />
                &#9830; Students may get internship opportunities at
                GeeksforGeeks.
                <br />
                &#9830; Along with all this students can get exclusive discounts
                on GFG courses.
                <br />
                &#9830; You will get an opportunity to organize your competition
                on a PAN India level.
              </p>
            </div>
            <div class="faqs" id="faqs3">
              <a faq-type class="questions"
                >How is it beneficial for my college ?
                <img
                  class="button"
                  src="assets/images/icon-arrow-down.svg"
                  alt="unwrap-icon"
                />
              </a>
              <p class="answers">
                &#9830; If you have a GeeksforGeeks student Chapters in your
                campus, your campus will be in direct contact with
                Geeksforgeeks.
                <br />
                &#9830; Thus in future the college may get offers from GFG or
                other companies for placement drives and other available
                opportunities.
                <br />
                &#9830; You will also stay updated regarding all the ongoing
                placements, internships and other hiring contests.
              </p>
            </div>
            <div class="faqs" id="faqs4">
              <a faq-type class="questions"
                >What perks will you get from GFG ?
                <img
                  class="button"
                  src="assets/images/icon-arrow-down.svg"
                  alt="unwrap-icon"
                />
              </a>
              <p class="answers">
                &#9830; You will get a chance to win T-shirts, stickers, Pens,
                and Coupons upto Rs.15000. <br />
                &#9830; You can have these whenever you hold a position in any
                event or competition.
                <br />
                &#9830; It will help you to grow, learn and succeed.
                <br />
                &#9830; It will help you grow as a better individual.
                <br />
                &#9830; You may get an internship opportunity at GeeksforGeeks.
              </p>
            </div>
            <div class="faqs" id="faqs5">
              <a faq-type class="questions"
                >What are some of the events we can organise ?
                <img
                  class="button"
                  src="assets/images/icon-arrow-down.svg"
                  alt="unwrap-icon"
                />
              </a>
              <p class="answers">
                &#9830; You can have Coding Events through GFG IDE. <br />
                &#9830; You can have a webinar session through GFG.
                <br />
                &#9830; You can organize a webinar with someone from your
                network who is good at wished domain.
                <br />
                &#9830; Rest imagination and creativity with out of the box
                thinking has no limit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
