<header class="header">
  <a routerLink="home" class="logo">
    <img src="assets/images/gfg-logo.png" alt="" />
  </a>

  <nav #navbar class="navbar">
    <a routerLink="home">home</a>
    <a routerLink="about-us">About Us</a>
    <a routerLink="events">Events</a>
    <a routerLink="our-team">Our Team</a>
    <!-- <a routerLink="faq">FAQs</a> -->
    <a routerLink="contact-us">Contact Us</a>
    <!-- <a href="#review">Review</a> -->
    <!-- <a routerLink="#contact">Contact</a> -->
    <!-- <a href="#blogs">Blogs</a> -->
  </nav>

  <div class="icons">
    <div class="fa fa-calendar" (click)="onClickCalender()"></div>
    <div class="fas fa-bars" id="menu-btn" (click)="onClickMenuButton()"></div>
  </div>

  <div class="search-form">
    <input type="search" id="search-box" placeholder="search here..." />
    <label for="search-box" class="fas fa-search"></label>
  </div>
</header>
