<!-- <section class="footer">
  <div class="share">
    <a href="https://www.instagram.com/gfg_cuh/" class="fab fa-instagram"></a>
    <a
      href="https://www.linkedin.com/company/77166089/admin/"
      class="fab fa-linkedin"
    ></a>
    <a
      href="https://www.youtube.com/channel/UCRWgUaFgymYcn9FDHDi5kQw"
      class="fab fa-youtube"
    ></a>
    <a
      href="https://github.com/gfg-studentchapters-cuh"
      class="fab fa-github"
    ></a>
  </div>

  <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Home</a></li>
    <li class="list-inline-item"><a href="#">Services</a></li>
    <li class="list-inline-item"><a href="#">About</a></li>
    <li class="list-inline-item"><a href="#">Terms</a></li>
    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
  </ul>

  <div class="credit">
    <a routerLink="our-team"><span>GFG SC CUH</span></a> © 2022
  </div>
</section> -->

<div class="footer-basic">
  <footer>
    <div class="social">
      <a href="https://www.instagram.com/gfg_cuh/" class="fab fa-instagram"></a>
      <a
        href="https://www.linkedin.com/company/77166089/admin/"
        class="fab fa-linkedin"
      ></a>
      <a
        href="https://www.youtube.com/channel/UCRWgUaFgymYcn9FDHDi5kQw"
        class="fab fa-youtube"
      ></a>
      <a
        href="https://github.com/gfg-studentchapters-cuh"
        class="fab fa-github"
      ></a>
    </div>
    <ul class="list-inline">
      <li class="list-inline-item"><a routerLink="about-us">About Us</a></li>
      <li class="list-inline-item">
        <a routerLink="refund-policy">Refund Policy</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="term-condition">Terms & Conditions</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="privacy-policy">Privacy Policy</a>
      </li>
    </ul>
    <p class="copyright">
      <a routerLink="our-team"><span>GFG SC CUH</span></a> © 2022
    </p>
  </footer>
</div>
