<section class="footer">
  <div class="share">
    <a
      href="https://www.instagram.com/gfg_studentschapters_cuh/"
      class="fab fa-instagram"
    ></a>
    <a
      href="https://www.linkedin.com/in/gfg-cuh-sc-2b5ba4226/"
      class="fab fa-linkedin"
    ></a>
    <a href="https://www.youtube.com/channel/UCRWgUaFgymYcn9FDHDi5kQw" class="fab fa-youtube"></a>
    <a
      href="https://github.com/gfg-studentchapters-cuh"
      class="fab fa-github"
    ></a>
  </div>

  <div class="credit">
    created by <a routerLink="our-team"><span>Gfg-Cuh</span></a> | all rights
    reserved
  </div>
</section>
