<section class="contact margT-10" id="contact">
  <h1 class="heading"><span>contact</span> us</h1>

  <div class="row">
    <iframe
      class="map"
      src="assets/images/mail.png"
      allowfullscreen=""
      loading="lazy"
    ></iframe>

    <form action="">
      <h3>get in touch</h3>
      <div class="inputBox">
        <span class="fas fa-user"></span>
        <input type="text" placeholder="Name" />
      </div>
      <div class="inputBox">
        <span class="fas fa-envelope"></span>
        <input type="email" placeholder="Email" />
      </div>
      <div class="inputBox">
        <span class="fas fa-comment"></span>
        <input type="text" placeholder="Your Message" />
      </div>
      <input
        type="button"
        routerLink="contact-us"
        value="contact now"
        class="btn"
      />
    </form>
  </div>
</section>
