<section class="about margT-10" id="about">
  <h1 class="heading"><span>about</span> us</h1>

  <div class="row">
    <div class="image">
      <img src="assets/images/team.png" alt="" />
    </div>

    <div class="content">
      <h3>what makes us special?</h3>
      <p>
        It's been a pleasure for Central University of Haryana to be in collaboration with the very renowned 'Geeks for Geeks'. GFG is portal for coders and programmers to develop the technical aspect around the world. As a student's chapter of GFG we are privileged to bring this opportunity to CUH. It’s been a hustle to be a programmer in new age. 
      </p>
      <p>
      Our team will aim at creating technical environment amongst the students in the campus. Bringing this opportunity to our campus has an aim to bind the students turning out to be future of technicality and aim at development of university in collaboration with making most from GFG. 
      </p><p>
      Concluding it to the fact that our student’s chapter of CUH and GFG has main motive to enhance the ideas and concepts of programmers at our university with various events, programs and competitions.
      </p>
      <!-- <a href="#" class="btn">learn more</a> -->
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="content">
      <h3>what defines our vision?</h3>
      <p>
        In GeeksforGeeks student Chapter CUH , 
        Our focus would be on:- </p><p>
        -uplifting techinical skills and improving coding skills through workshops,hackathons,webinars.</p><p>
        -creating oppportunities  through which students grow their knowledge in a peer-to-peer learning environment
         and build effective and optimized solutions for local businesses and their community.</p><p>
        -updating students  with valuable content and opportunities  to apply for/tech opportuities,internships and jobs
      </p>
     <!--  <a href="#" class="btn">learn more</a> -->
    </div>
    <div class="image">
      <img src="assets/images/about-img.png" alt="" />
    </div>
  </div>

  <br />
  <br />
  <div class="row">
    <div class="image">
      <img src="assets/images/team.png" alt="" />
    </div>

    <div class="content">
      <h3>what benefits are you getting?</h3>
      <p> Y-ou will get a chance to win T-shirts, stickers, Pens, and Coupons upto Rs.15000. <br><br>
        -You can have these whenever you hold a position in any event or competition.
        <br><br>
        -It will help you to grow, learn and succeed.
        <br><br>
        -It will help you grow as a better individual.
        <br><br>
        -You may get an internship opportunity at GeeksforGeeks.</p>
      <!-- <a href="#" class="btn">learn more</a> -->
    </div>
  </div>
</section>
