<section class="about margT-10" id="about">
  <h1 class="heading"><span>about</span> us</h1>

  <div class="row">
    <div class="content">
      <h3>what makes us special?</h3>
      <p>
        It's been a pleasure for Central University of Haryana to be in
        collaboration with the very renowned 'Geeks for Geeks'. GFG is portal
        for coders and programmers to develop the technical aspect around the
        world. As a student's chapter of GFG we are privileged to bring this
        opportunity to CUH. It’s been a hustle to be a programmer in new age.
      </p>
      <p>
        Concluding it to the fact that our student’s chapter of CUH and GFG has
        main motive to enhance the ideas and concepts of programmers at our
        university with various events, programs and competitions.
      </p>
      <!-- <a href="#" class="btn">learn more</a> -->
    </div>
  </div>

  <div class="image">
    <!-- <img src="assets/images/team.png" alt="" /> -->
    <div class="birds">
      <div class="birds__hatdove">
        <div class="birds__hatdove-shadow"></div>
        <div class="birds__hatdove-head">
          <div class="birds__hatdove-hat"></div>
          <div class="birds__hatdove-forehead"></div>
          <div class="birds__hatdove-eye"></div>
          <div class="birds__hatdove-eye"></div>
          <div class="birds__hatdove-beak"></div>
        </div>
        <div class="birds__hatdove-backwing"></div>
        <div class="birds__circles-1"></div>
        <div class="birds__hatdove-backleg">
          <div class="birds__curly"></div>
        </div>
        <div class="birds__hatdove-body"></div>
        <div class="birds__hatdove-frontleg">
          <div class="birds__curly"></div>
        </div>
        <div class="birds__hatdove-frontwing"></div>
        <div class="birds__circles-2"></div>
        <div class="birds__hatdove-frontwing-finger"></div>
        <div class="birds__hatdove-frontwing-finger"></div>
        <div class="birds__hatdove-frontwing-finger"></div>
      </div>
      <div class="birds__table">
        <div class="birds__table-shadow"></div>
      </div>
      <div class="birds__laptop"></div>
      <div class="birds__laptop">
        <div class="birds__monitor">
          <div class="birds__code"></div>
        </div>
      </div>
      <div class="birds__coffee"></div>
      <div class="birds__feather"></div>
      <div class="birds__feather"></div>
      <div class="birds__rundove-shadow"></div>
      <div class="birds__rundove">
        <div class="birds__rundove-backwing">
          <div class="birds__finger"></div>
          <div class="birds__finger"></div>
          <div class="birds__finger"></div>
          <div class="birds__circles"></div>
        </div>
        <div class="birds__rundove-head">
          <div class="birds__rundove-eye"></div>
          <div class="birds__rundove-eye"></div>
          <div class="birds__rundove-beak"></div>
        </div>
        <div class="birds__rundove-backleg">
          <div class="birds__curly"></div>
        </div>
        <div class="birds__rundove-body"></div>
        <div class="birds__rundove-frontleg">
          <div class="birds__curly"></div>
        </div>
        <div class="birds__rundove-frontwing">
          <div class="birds__finger"></div>
          <div class="birds__finger"></div>
          <div class="birds__finger"></div>
          <div class="birds__circles"></div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="content">
      <h3>what defines our vision?</h3>
      <p>In GeeksforGeeks student Chapter CUH , Our focus would be on:-</p>
      <p>
        Uplifting techinical skills and improving coding skills through
        workshops,hackathons,webinars.<br />
        Creating oppportunities through which students grow their knowledge in a
        peer-to-peer learning environment and build effective and optimized
        solutions for local businesses and their community.<br />
        Updating students with valuable content and opportunities to apply
        for/tech opportuities,internships and jobs
      </p>
    </div>
    <!-- <div class="image">
      <img src="assets/images/about-img.png" alt="" />
    </div> -->
  </div>

  <br />
  <br />
</section>
