.events {
  position: relative !important;
}

.result-1 {
  width: 400px;
  font-weight: bold;
  color: #fe214c !important;
}
.result-2 {
  width: 400px;
  font-weight: bold;
  color: #ff9f6c !important;
}

.image {
  border-radius: 0 !important;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto !important;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.events:hover .image {
  opacity: 0.5;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 600px) {
  .middle {
    width: 75% !important;
  }
}

.menu .past-events {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90rem, 1fr)) !important;
  gap: 1.5rem;
}

.menu .box-container .box:hover > * {
  color: #fff !important;
}

.menu .box-container .events:hover .past-event {
  transform: scale(1) !important;
}
.menu .box-container .events:hover .image {
  transform: scaleX(1.1) scaleY(1.33);
}

@media (max-width: 450px) {
  .menu .box-container .events:hover .image {
    transform: scaleX(1.15) scaleY(1.6) !important;
  }
  .middle h3 {
    font-size: 1rem !important;
    font-weight: 400 !important;
  }
  .middle .price {
    font-size: 1.2rem !important;
    font-weight: 400 !important;
  }
  .future-event {
    padding: 3rem !important;
  }
}

.events:hover .middle {
  opacity: 1;
}

.event-type {
  text-decoration: underline;
}

.price .speaker {
  font-size: 2.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

@media (max-width: 600px) {
  .btn {
    padding: 0.7rem 2rem !important;
    font-size: 1.2rem !important;
  }
  .box-container h3,
  div {
    font-size: 1.5rem !important;
    font-weight: 400 !important;
  }
  .menu .box-container .pastEvent img {
    transform: scale(1.2, 1.6) !important;
  }

  .events-btn {
    margin-top: 1.5rem !important;
  }
}

/* carousel start */

/* carousel end */
