<section class="menu margT-10" id="menu">
  <h1 class="heading">upcoming <span>events</span></h1>

  <div class="box-container">
    <div *ngIf="!futureEvents.length" class="box events">
      <img src="assets/images/event-plan.jpg" class="image" alt="" />
      <div class="middle">
        <h3>Hello Geeks!</h3>
        <h3 class="event-type">We are planning something special</h3>
        <div class="price">till then have a look at some past events</div>
        <a (click)="goToPastEvents()" class="btn events-btn">Past Events</a>
      </div>
    </div>
    <div *ngFor="let event of futureEvents" class="box events future-event">
      <img src="{{ event.eventImage }}" class="image" alt="" />
      <div class="middle">
        <h3>{{ event.eventTitle2 }}</h3>
        <div class="price">{{ event.eventTitle1 }}</div>
        <h3 class="event-type">{{ event.eventType }}</h3>
        <!-- <h3 class="result-1">Results on New Year</h3> -->
        <a routerLink="/event/{{ event.eventId }}" class="btn events-btn"
          >View Details</a
        >
      </div>
    </div>
  </div>
  <br />
  <hr />
  <br />
  <h1 #past class="heading">past <span>events</span></h1>
  <div class="box-container">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let event of pastEvents"
        ><div class="box events pastEvent event-1">
          <img src="{{ event?.eventImage }}" class="image past-event" alt="" />
          <div class="middle">
            <h3 class="event-type">
              {{ event.eventTitle1 + " " + event.eventType }}
            </h3>
            <h3>{{ event.eventTitle2 }}</h3>
            <a routerLink="/event/{{ event.eventId }}" class="btn events-btn"
              >View Details</a
            >
            <!-- <div class="price">
              <span class="speaker">Speaker : </span>{{ event.eventSpeaker }}
            </div> -->
            <!-- <a href="https://forms.gle/PBkGKd5mMjtJS8sWA" class="btn"
              >Register Now</a
            > -->
          </div>
        </div></ng-template
      >
    </owl-carousel-o>
  </div>
</section>
