<section class="products margT-10" id="products">
  <h1 class="heading">Event Registration <span>Confirmation</span></h1>

  <div class="ticket">
    <div class="ticket--center">
      <div class="ticket--center--row">
        <div class="ticket--center--col">
          <span class="tkt-head">Your ticket for</span>
          <strong>Smart India Hackathon</strong>
        </div>
        <div class="ticket--center--col">
          <span class="tkt-head">Event fee</span>
          <strong>Rs. 50</strong>
        </div>
      </div>
      <div class="ticket--center--row">
        <div class="ticket--center--col">
          <span class="ticket--info--title">Date and time</span>
          <span class="ticket--info--subtitle">Thursday, May 14 2020</span>
          <span class="ticket--info--content">7:00 am to 9:00 pm (GMT+1)</span>
        </div>
        <div class="ticket--center--col">
          <span class="ticket--info--title">Event Location</span>
          <span class="ticket--info--subtitle">Room no. 007 </span>
          <span class="ticket--info--content"
            >SOET Block, Central University of Haryana</span
          >
        </div>
      </div>
      <div class="ticket--center--row">
        <div class="ticket--center--col">
          <span class="ticket--info--title">Event type</span>
          <span class="ticket--info--content">Competition</span>
        </div>
        <div class="ticket--center--col" style="align-self: center">
          <button #buy id="rzp-button1">
            Pay securely <i class="fa fa-lock" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
