<section class="products margT-10" id="products">
  <h1 class="heading">chapter <span>leads</span></h1>

  <div class="box-container">
    <div class="box">
      <div class="icons">
        <!-- <a href="#" class="fab fa-twitter"></a> -->
        <a href="https://www.instagram.com/__nilabh__/">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/in/nilabh-sahu-39422a1a9/">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/nilabh22">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
      <div class="image">
        <img src="assets/images/nilabh.jpeg" alt="" />
      </div>
      <div class="content">
        <h3>nilabh sahu</h3>
        <br />
        <div class="price">chairperson</div>
      </div>
    </div>

    <div class="box">
      <div class="icons">
        <!-- <a href="#" class="fab fa-twitter"></a> -->
        <a href="https://www.instagram.com/dewangsharmads/?hl=en">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/in/dewang-sharma-780a86173/">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/Dewang-13">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
      <div class="image">
        <img src="assets/images/dewang.jpg" alt="" />
      </div>
      <div class="content">
        <h3>Dewang Sharma</h3>
        <br />
        <div class="price">Senior Vice-Chairperson</div>
      </div>
    </div>
    <div class="box">
      <div class="icons">
        <!-- <a href="#" class="fab fa-twitter"></a> -->
        <a
          href="https://www.instagram.com/shuklacuh/
        "
        >
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/amit-shukla-b6143a207
      "
        >
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a
          href="https://github.com/amit202065
    "
        >
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
      <div class="image">
        <img src="assets/images/amit.jpeg" alt="" />
      </div>
      <div class="content">
        <h3>Amit Shukla</h3>
        <br />
        <div class="price">Junior Vice-Chairperson</div>
      </div>
    </div>

    <div class="box">
      <div class="icons">
        <!-- <a href="#" class="fab fa-twitter"></a> -->
        <a
          href="https://www.instagram.com/_ajay.mishra_/
        "
        >
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a
          href="https://www.linkedin.com/mwlite/in/ajay-kumar-2b5024157
      "
        >
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a
          href="https://github.com/Ajay-191883
    "
        >
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
      <div class="image">
        <img src="assets/images/ajay.jpg" alt="" />
      </div>
      <div class="content">
        <h3>Ajay Kumar</h3>
        <br />
        <div class="price">Technical Head</div>
      </div>
    </div>

    <div class="box">
      <div class="icons">
        <a href="https://twitter.com/onkar_setia">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a
          href="https://www.instagram.com/onkar_setia/?hl=en
        "
        >
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/onkar-setia-ab16341b5/
      "
        >
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a
          href="https://github.com/onkar2323
    "
        >
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
      <div class="image">
        <img src="assets/images/onkar.jpg" alt="" />
      </div>
      <div class="content">
        <h3>Onkar Setia</h3>
        <br />
        <div class="price">Co-Technical Head</div>
      </div>
    </div>

    <div class="box">
      <div class="icons">
        <!-- <a href="#" class="fab fa-twitter"></a> -->

        <a
          href="https://instagram.com/_._nimisha__?utm_medium=copy_link
      "
        >
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/nimisha-jha-92117a1b9
    "
        >
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a
          href="https://github.com/Nimishaaaaa
  "
        >
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
      <div class="image">
        <img src="assets/images/nimisha.jpg" alt="" />
      </div>
      <div class="content">
        <h3>Nimisha jha</h3>
        <br />
        <div class="price">Marketing Head</div>
      </div>
    </div>

    <div class="box">
      <div class="icons">
        <!-- <a href="#" class="fab fa-twitter"></a> -->
        <a
          href="https://www.instagram.com/raj_patel_2619/
      "
        >
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/rajpatel2619/
    "
        >
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a
          href="https://github.com/rajpatel2619/
  "
        >
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
      <div class="image">
        <img src="assets/images/raj.jpg" alt="" />
      </div>
      <div class="content">
        <h3>Raj Patel</h3>
        <br />

        <div class="price">P.R. & Outreach Head</div>
      </div>
    </div>

    <div class="box">
      <div class="icons">
        <!-- <a href="#" class="fab fa-twitter"></a> -->

        <a
          href="https://instagram.com/__kesharjha__?utm_medium=copy_link
      "
        >
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/kesharkumari
    "
        >
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a
          href="https://github.com/kesharjha123
  "
        >
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
      <div class="image">
        <img src="assets/images/keshar.jpeg" alt="" />
      </div>
      <div class="content">
        <h3>Keshar Jha</h3>
        <br />
        <div class="price">Events head</div>
      </div>
    </div>

    <div class="box">
      <div class="icons">
        <!-- <a href="#" class="fab fa-twitter"></a> -->

        <a
          href="https://instagram.com/vanshikasingh0102?utm_medium=copy_link
        "
        >
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/vanshika-singh-778473220/
      "
        >
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a
          href="https://github.com/vanshikasingh202129
        "
        >
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
      <div class="image">
        <img src="assets/images/vanshika.jpg" alt="" />
      </div>
      <div class="content">
        <h3>Vanshika Singh</h3>
        <br />
        <div class="price">Social Media Head</div>
      </div>
    </div>

    <div class="box">
      <div class="icons">
        <a
          href="https://twitter.com/SinhaRazveer?t=WEXhc_akspBGLFK584QBVA&s=08"
        >
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a
          href="https://instagram.com/kush1208_?utm_medium=copy_link
      "
        >
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/kush-sinha-7a034b212
    "
        >
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <!-- <a href="#" class="fab fa-github"></a> -->
      </div>
      <div class="image">
        <img src="assets/images/kush.jpeg" alt="" />
      </div>
      <div class="content">
        <h3>Kush Sinha</h3>
        <br />

        <div class="price">Design/Branding Head</div>
      </div>
    </div>
  </div>
</section>
