<h1 class="heading gallery-heading">Geeky <span>Moments</span></h1>
<div class="gallery" id="gallery">
  <div class="gallery-item">
    <div class="content">
      <img src="assets/images/team-pic1.jpg" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="assets/images/1-1.png" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="assets/images/team-meet1.jpg" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="assets/images/event-5.1.jpg" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="assets/images/team-pic2.jpg" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="assets/images/event-5.2.jpg" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="assets/images/event-5.3.jpg" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="assets/images/1-2.png" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="assets/images/event-5.4.jpg" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="assets/images/1-3.png" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="assets/images/event-5.5.jpg" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="assets/images/event-5.6.jpg" alt="" />
    </div>
  </div>

  <!-- <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,substance" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,choose" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,past" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,lamp" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,yet" alt="" />
    </div>
  </div> -->
  <!-- <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,eight" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,crew" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,event" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,instrument" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,practical" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,pass" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,bigger" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,number" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,feature" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,line" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,railroad" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,pride" alt="" />
    </div>
  </div> -->
  <!-- <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,too" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,bottle" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,base" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,cell" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,bag" alt="" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="content">
      <img src="https://source.unsplash.com/random/?tech,card" alt="" />
    </div>
  </div> -->
</div>
