<section class="about margT-10" id="about">
  <h1 class="heading"><span>privacy </span> policy</h1>
  <div class="row">
    <div class="content">
      <h3 class="terms">1. What information is collected?</h3>
      <p>
        We require customers who register to use the services offered on our
        Site (collectively, the "Service") to give us contact information, such
        as their name, address, phone number, and e-mail address. If you choose
        to pay for any of the event/webinar offered through this website,
        billing information such as billing name and address, and credit card
        number will be collected to complete the transaction. When you browse
        our website or our blogs, we also automatically receive your computer’s
        internet protocol (IP) address in order to provide us with information
        that helps us learn about your browser and operating system.
      </p>
      <h3 class="terms">2. Consent for electronic communcation</h3>
      <p>
        If you have registered for any of our services that requires you to
        provide us with your email, you consent to receiving electronic
        communications from GEEKSFORGEEKS STUDENT CHAPTER CUH These
        communications will include notices about your account (e.g., activation
        of account, expiration of account and receiving e-mails and other
        transactional information) and information concerning or related to our
        service, such as new product launch or other announcements, or
        offerings.
      </p>
      <p>
        In order to tailor our subsequent communications to you and continuously
        improve our products and services (including registration), we may ask
        you to provide us with information regarding your personal or
        professional interests, experience with our products and services, and
        more detailed contact preferences. Visitors always have the option of
        choosing not to provide us with this information. Not providing this
        additional information will in no way affect the promised delivery of
        services. If we ask for your personal information for a secondary
        reason, like marketing, we will either ask you directly for your
        expressed consent, or provide you with an opportunity to say no.
      </p>
      <h3 class="terms">3. Links</h3>
      <p>
        When you click on links on our website, they may direct you away from
        our site. We are not responsible for the privacy practices of other
        sites and encourage you to read their privacy statements.
      </p>
      <h3 class="terms">4. Security and Retention of data</h3>
      <p>
        To protect your personal information, we take reasonable precautions and
        follow industry best practices to make sure it is not inappropriately
        lost, misused, accessed, disclosed, altered or destroyed. GEEKSFORGEEKS
        STUDENT CHAPTER CUH will keep personal information of its users for as
        long as they are registered subscribers or users of our products and
        services, and for a reasonable time thereafter
      </p>
      <h3 class="terms">5. Cookies and opting out</h3>
      <p>
        We use cookies to maintain session of our users. It is not used to
        personally identify you on other websites.
      </p>
      <h3 class="terms">6. Age of consent</h3>
      <p>
        By using this site, you represent that you are at least the age of
        majority in your state or province of residence, or that you are the age
        of majority in your state or province of residence and you have given us
        your consent to allow any of your minor dependents to use this site.
      </p>
      <h3 class="terms">7. Changes to this privacy policy</h3>
      <p>
        We reserve the right to modify this privacy policy at any time, so
        please review it frequently. Changes and clarifications will take effect
        immediately upon their posting on the website. If we make material
        changes to this policy, we will notify you here that it has been
        updated, so that you are aware of what information we collect, how we
        use it, and under what circumstances, if any, we use and/or disclose it.
        If our website is acquired or merged with another company, your
        information may be transferred to the new owners so that we may continue
        to offer services to you.
      </p>
    </div>
  </div>
</section>
