/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  /* --main-color: #d3ad7f; */
  --main-color: #2f8d46;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid green;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

section {
  padding: 2rem 7%;
}

section.margT-10 {
  margin-top: 7%;
}
section.margT-4 {
  margin-top: 4%;
}
.margB-3 {
  margin-bottom: 3% !important;
}

.home-section-heading {
  font-size: 3.5rem !important;
  letter-spacing: 3px;
}
.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
}

@media (max-width: 600px) {
  .home {
    display: block !important;
  }
}

.btn:hover {
  letter-spacing: 0.2rem;
}

.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  height: 6rem;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.8rem;
  color: #fff;
  margin: 2rem;
}

.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
}

.header .icons div {
  color: var(--main-color);
  cursor: pointer;
  font-size: 2.7rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: #fff;
}

#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem;
  text-transform: none;
}

.header .search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black);
}

.header .search-form label:hover {
  color: var(--main-color);
}

.header .cart-items-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh - 9.5rem);
  width: 35rem;
  background: #fff;
  padding: 0 1.5rem;
}

.header .cart-items-container.active {
  right: 0;
}

.header .cart-items-container .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover {
  color: var(--main-color);
}

.header .cart-items-container .cart-item img {
  height: 7rem;
}

.header .cart-items-container .cart-item .content h3 {
  font-size: 2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}

.header .cart-items-container .cart-item .content .price {
  font-size: 1.5rem;
  color: var(--main-color);
}

.header .cart-items-container .btn {
  width: 100%;
  text-align: center;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(./assets/images/home-back.jpeg) no-repeat;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.678),
      rgba(0, 0, 0, 0.26)
    ),
    url(./assets/images/home-back.jpeg);
  background-size: cover;
  background-position: center;
}

.home .content {
  margin-top: 5%;
  max-width: 60rem;
  z-index: 100;
}
.home .btn {
  border-radius: 5px;
}

.home .content h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 5rem;
  color: #fff;
}

.home .content p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  line-height: 1.8;

  color: #eee;
}

.about .row {
  display: flex;
  align-items: center;
  /* background: var(--black); */
  /* border: 1px solid green; */
  flex-wrap: wrap;
  padding: 3%;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 70%;
  padding: 2% 5%;
  margin-left: 10%;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}
.about .btn {
  border-radius: 5px;
}

.about .row .content h3 {
  font-size: 3rem;
  color: #fff;
}

.about .row .content p {
  font-size: 1.6rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  padding: 5rem;
  text-align: center;
  border: var(--border);
}

.menu .box-container .box img {
  height: 10rem;
  border-radius: 50%;
}

.menu .box-container .box .middle h3 {
  color: #fff;
  font-size: 3rem;
  padding: 1rem 0;
}

.menu .box-container .box .middle .price {
  color: #fff;
  font-size: 2.5rem;
  padding: 0.5rem 0;
}

.menu .box-container .box .middle .price span {
  /* font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: lighter; */
}

.menu .box-container .box:hover {
  /* background: #fff; */
}

.menu .box-container .box:hover > * {
  color: var(--black);
}

.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.products .box-container .box {
  text-align: center;
  border: var(--border);
  padding: 2rem;
}

.products .box-container .box .icons a {
  height: 4.5rem;
  width: 3.5rem;
  line-height: 5rem;
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: var(--border);
  color: #fff;
  margin: 0.3rem;
}

.products .box-container .box .icons a:hover {
  background: var(--main-color);
}
.products .box-container .box:hover .icons a:hover {
  background: #fff;
  color: var(--main-color);
}
.products .box-container .box:hover {
  background: var(--main-color);
}

.products .box-container .box .image {
  padding: 2.5rem 0;
}

.products .box-container .box .image img {
  height: 17rem;
}
.products .box-container .box:hover .image img {
  height: 20rem;
}

.products .box-container .box .content h3 {
  color: #fff;
  font-size: 2.5rem;
}

.products .box-container .box .content .stars {
  padding: 1.5rem;
}

.products .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: var(--main-color);
}

.products .box-container .box .content .price {
  color: var(--main-color);
  font-size: 2rem;
}

.products .box-container .box:hover .content .price {
  color: #fff;
  font-size: 2rem;
}

.products .box-container .box .content .price span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1.5rem;
}

.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.review .box-container .box {
  border: var(--border);
  text-align: center;
  padding: 3rem 2rem;
}

.review .box-container .box p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #ccc;
  padding: 2rem 0;
}

.review .box-container .box .user {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .box-container .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  color: #fff;
}

.review .box-container .box .stars i {
  font-size: 1.5rem;
  color: var(--main-color);
}

.contact .row {
  display: flex;
  background: var(--black);
  flex-wrap: wrap;
  gap: 1rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 80%;
  padding-left: 60px;
  padding-top: 20px;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 4rem 2.3rem;
  padding-right: 30px;
  text-align: center;
}

.contact .row form h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #fff;
}

.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--bg);
  border: var(--border);
  border-radius: 10px;
}

.contact .row form .inputBox span {
  color: #fff;
  font-size: 2rem;
  padding-left: 2rem;
}

.contact .row form .inputBox input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: #fff;
  text-transform: none;
  background: none;
}
.contact .btn {
  border-radius: 5px;
}

.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
  border: var(--border);
}

.blogs .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  width: 100%;
}

.blogs .box-container .box .image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.blogs .box-container .box:hover .image img {
  transform: scale(1.2);
}

.blogs .box-container .box .content {
  padding: 2rem;
}

.blogs .box-container .box .content .title {
  font-size: 2.5rem;
  line-height: 1.5;
  color: #fff;
}

.blogs .box-container .box .content .title:hover {
  color: var(--main-color);
}

.blogs .box-container .box .content span {
  color: var(--main-color);
  display: block;
  padding-top: 1rem;
  font-size: 2rem;
}

.blogs .box-container .box .content p {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #ccc;
  padding: 1rem 0;
}

.footer {
  background: var(--black);
  text-align: center;
}

.footer .share {
  padding: 1rem 0;
}

.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  border: var(--border);
  margin: 0.3rem;
  border-radius: 50%;
}

.footer .share a:hover {
  background-color: var(--main-color);
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.footer .links a {
  padding: 0.7rem 2rem;
  color: #fff;
  border: var(--border);
  font-size: 2rem;
}

.footer .links a:hover {
  background: var(--main-color);
}

.footer .credit {
  font-size: 2rem;
  color: #fff;
  font-weight: lighter;
  padding: 1.5rem;
}

.footer .credit span {
  color: var(--main-color);
}

/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  #products,
  #menu,
  #about,
  #contact {
    margin-top: 10vh;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content h3 {
    font-size: 3.5rem !important;
  }

  .home .content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* owl carousel events start*/
.box-container .owl-prev,
.box-container .owl-next {
  color: #fff;
  font-size: 14px;
  margin: 5 px;
  padding: 7px 7px !important;
  background: var(--main-color) !important;
  display: inline-block;
  cursor: pointer;
  height: 35px;
  width: 35px;
  border-radius: 50% !important;
  position: absolute;
  top: 50%;
}
.box-container .owl-prev {
  left: 0;
}
.box-container .owl-next {
  right: 0;
}

.box-container .owl-prev i,
.box-container .owl-next i {
  font-size: 20px;
}
.box-container .owl-next:hover i,
.box-container .owl-prev:hover i {
  color: var(--main-color);
  font-size: 20px !important;
}
.box-container .owl-next:hover,
.box-container .owl-prev:hover {
  background: #fff !important;
}

@media (max-width: 450px) {
  .box-container .owl-prev,
  .box-container .owl-next {
    display: none !important;
  }
}
/* owl carousel events end*/

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #444;
}

html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

body {
  background: #222;
}

section {
  padding: 2rem 9%;
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .home-slider .swiper-slide {
    width: 27rem;
  }

  .contact form .inputBox input {
    width: 100%;
  }

  .countdown {
    top: 25%;
    left: 15% !important;
  }
  .countdown div {
    width: 40px !important;
    height: 40px !important;
    line-height: 45px !important;
    font-size: 2.3em !important;
  }
  .countdown div::before {
    height: 30px;
    bottom: -35px;
  }
}

/* countdown start */
.countdown {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 25%;
  left: 34%;
}
.countdown div {
  position: relative;
  width: 80px;
  height: 80px;
  line-height: 100px;
  text-align: center;
  background: #333;
  color: #fff;
  margin: 0 15px;
  font-size: 3em;
  font-weight: 600;
}
.countdown div::before {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 35px;
  background: var(--main-color);
  color: #fff;
  font-style: 0.35em;
  line-height: 35px;
  font-weight: 600;
  font-size: 00.5em;
}
.countdown #day:before {
  content: "Days";
}

.countdown #hour:before {
  content: "Hours";
}
.countdown #minute:before {
  content: "Minutes";
}
.countdown #second::before {
  content: "Seconds";
}
/* countdown end */

.heading {
  text-align: center;
  padding-bottom: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 4rem;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  background: #2f8d46;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover {
  background: var(--main-color);
}

#home {
  /* display: flex;
  align-items: center; */
  background: linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    rgba(224, 203, 15, 0.89),
    var(--main-color)
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;

  /* background-size: cover;
  background-position: center; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#menu-bars {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.home .content {
  text-align: left;
  padding-top: 12rem;
  margin: 2rem 2rem;
  max-width: 50rem;
}

.home .content h3 {
  color: #fff;
  font-size: 5rem;
  text-transform: uppercase;
}

.home .content h3 span {
  color: var(--main-color);
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.home .home-slider .swiper-slide {
  overflow: hidden;
  border-radius: 0.5rem;
  height: 50rem;
  width: 35rem;
}

.home .home-slider .swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.service .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.service .box-container .box {
  border-radius: 0.5rem;
  background: #333;
  text-align: center;
  padding: 2.5rem;
}

.service .box-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  font-size: 2.5rem;
  background: var(--main-color);
  color: #fff;
}

.service .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
  padding: 1rem 0;
}

.service .box-container .box p {
  font-size: 1.4rem;
  color: #eee;
  line-height: 1.8;
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content h3 {
  font-size: 3.5rem;
  color: #fff;
}
.about .row .content h4 {
  margin-top: 5%;
  text-align: left;
  font-size: 2.5rem;
  color: var(--main-color);
}

.gallery .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.gallery .box-container .box {
  position: relative;
  border: 1rem solid #333;
  border-radius: 0.5rem;
  height: 25rem;
  cursor: pointer;
  overflow: hidden;
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .box-container .box:hover img {
  transform: scale(1.1);
  filter: grayscale();
}

.gallery .box-container .box .title {
  position: absolute;
  top: -10rem;
  left: 0;
  right: 0;
  background: #333;
  color: #fff;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.gallery .box-container .box:hover .title {
  top: 0;
}
.gallery .box-container .box .title:hover {
  color: var(--main-color);
}

.gallery .box-container .box .icons {
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  background: #333;
  padding-top: 1rem;
  text-align: center;
}

.gallery .box-container .box:hover .icons {
  bottom: 0;
}

.gallery .box-container .box .icons a {
  font-size: 2rem;
  margin: 0.5rem 1rem;
  color: #fff;
}

.gallery .box-container .box .icons a:hover {
  color: var(--main-color);
}

.price .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.price .box-container .box {
  padding: 2rem 0;
  background: #333;
  border-radius: 0.5rem;
  text-align: center;
}

.price .box-container .box:hover {
  transform: scale(1.03);
}

.price .box-container .box .title {
  background: var(--main-color);
  color: #fff;
  padding: 1.5rem 0;
  font-size: 2rem;
}

.price .box-container .box .amount {
  color: #fff;
  padding-top: 2rem;
  font-size: 3rem;
}

.price .box-container .box .college {
  color: #fff;
  padding-top: 2rem;
  font-size: 2rem;
}

.price .box-container .box ul {
  list-style-type: none;
  padding: 1rem 0;
}

.price .box-container .box ul li {
  font-size: 1.5rem;
  color: #eee;
  padding: 1rem 0;
}

.price .box-container .box ul li i {
  color: var(--main-color);
  padding-right: 0.5rem;
}

.reivew .box {
  border-radius: 0.5rem;
  background: #333;
  padding: 2rem;
  position: relative;
}

.reivew .box .fa-quote-right {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--main-color);
  font-size: 5rem;
}

.reivew .box .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
}

.reivew .box .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.reivew .box .user h3 {
  font-size: 2rem;
  color: #fff;
}

.reivew .box .user span {
  font-size: 1.5rem;
  color: #eee;
}

.reivew .box p {
  line-height: 2;
  color: #eee;
  padding: 0.5rem 0;
  font-size: 1.6rem;
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .home .content h3 {
    font-size: 4rem;
  }
}

:root {
  --birds-dark: #878787;
  --birds-medium-dark: #afafaf;
  --birds-medium-light: #d3d3d3;
  --birds-light: #e2e2e2;
  --birds-bright: #ff5629;
  --birds-shadow: #dddddd;
}

.birds {
  position: relative;
  overflow: hidden;
  width: 800px;
  height: 500px;
  margin: auto;
}
.birds *,
.birds *::before,
.birds *::after {
  position: absolute;
  content: "";
}
.birds__hatdove {
  top: 70px;
  left: 450px;
  width: 255px;
  height: 400px;
}
.birds__hatdove-head {
  top: 0px;
  left: 80px;
  width: 80px;
  height: 190px;
  border-radius: 40px 40px 0 0;
  background: #878787;
  animation: hatdove-head 2.75s linear infinite;
}
.birds__hatdove-head:before {
  top: 22px;
  left: -12px;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background: #878787;
}
.birds__hatdove-hat {
  top: 10px;
  left: 5px;
  width: 84px;
  height: 22px;
  border-radius: 5px;
  background: #1d1d1b;
  transform: rotate(20deg);
}
.birds__hatdove-hat:after {
  top: -26px;
  left: 4px;
  width: 76px;
  height: 36px;
  border-radius: 34px 34px 0 0;
  background: #1d1d1b;
}
.birds__hatdove-hat:before {
  top: -44px;
  left: 29px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: #ff5629;
}
.birds__hatdove-forehead {
  top: 20px;
  left: 4px;
  width: 78px;
  height: 22px;
  border-radius: 100%;
  background: #878787;
  transform: rotate(20deg);
}
.birds__hatdove-eye {
  top: 26px;
  left: -8px;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background: white;
  overflow: hidden;
  animation: hatdove-eye 2.75s linear infinite;
}
.birds__hatdove-eye:after {
  left: 11px;
  top: 9px;
  width: 7px;
  height: 22px;
  border-radius: 100%;
  background: black;
  animation: hatdove-pupil 2.75s linear infinite;
}
.birds__hatdove-eye:nth-child(4) {
  left: 20px;
}
.birds__hatdove-beak {
  top: 67px;
  left: 10px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background: white;
}
.birds__hatdove-beak:after {
  top: 17px;
  left: -13px;
  width: 31px;
  height: 8px;
  border-radius: 1px 0 14px 70px / 1px 0 14px 20px;
  background: #ff5629;
}
.birds__hatdove-beak:before {
  top: 2px;
  left: -28px;
  width: 46px;
  height: 15px;
  border-radius: 30px 14px 0 1px / 14px 13px 0 1px;
  background: #ff5629;
}
.birds__hatdove-body {
  top: 174px;
  left: 69px;
  width: 91px;
  height: 110px;
  border-radius: 13px 0px 0px 40px / 70px 0px 0px 40px;
  background: #d3d3d3;
}
.birds__hatdove-body:after {
  top: 0px;
  left: 91px;
  border-bottom: 110px solid #d3d3d3;
  border-right: 68px solid transparent;
  border-radius: 0 0 20px 0 / 0 0 40px 0;
}
.birds__hatdove-body:before {
  top: 40px;
  left: 91px;
  border-bottom: 70px solid #1d1d1b;
  border-right: 100px solid transparent;
  border-radius: 0 0 12px 0 / 0 0 70px 0;
}
.birds__hatdove-shadow {
  top: 363px;
  left: 55px;
  width: 154px;
  height: 12px;
  border-radius: 100%;
  background: #dddddd;
}
.birds__hatdove-backleg {
  top: 283px;
  left: 103px;
  width: 19px;
  border-style: solid;
  border-color: #afafaf transparent;
  border-width: 36px 12px 0;
}
.birds__hatdove-backleg:after {
  top: 45px;
  left: -15px;
  width: 36px;
  height: 6px;
  border-radius: 3px;
  background: #ff5629;
}
.birds__hatdove-backleg:before {
  top: 0px;
  left: 2px;
  width: 15px;
  height: 46px;
  background: #ff5629;
}
.birds__hatdove-backleg .birds__curly {
  width: 7px;
  height: 5px;
  border-radius: 0 0 7px 7px;
  background: #afafaf;
}
.birds__hatdove-backleg .birds__curly:after {
  top: 0px;
  left: 6px;
  width: 7px;
  height: 5px;
  border-radius: 0 0 7px 7px;
  background: #afafaf;
}
.birds__hatdove-backleg .birds__curly:before {
  top: 0px;
  left: 12px;
  width: 7px;
  height: 5px;
  border-radius: 0 0 7px 7px;
  background: #afafaf;
}
.birds__hatdove-frontleg {
  top: 283px;
  left: 130px;
  width: 19px;
  border-style: solid;
  border-color: #d3d3d3 transparent;
  border-width: 36px 12px 0;
}
.birds__hatdove-frontleg:after {
  top: 45px;
  left: -15px;
  width: 36px;
  height: 6px;
  border-radius: 3px;
  background: #ff5629;
}
.birds__hatdove-frontleg:before {
  top: 0px;
  left: 2px;
  width: 15px;
  height: 46px;
  background: #ff5629;
}
.birds__hatdove-frontleg .birds__curly {
  width: 7px;
  height: 5px;
  border-radius: 0 0 7px 7px;
  background: #d3d3d3;
}
.birds__hatdove-frontleg .birds__curly:after {
  top: 0px;
  left: 6px;
  width: 7px;
  height: 5px;
  border-radius: 0 0 7px 7px;
  background: #d3d3d3;
}
.birds__hatdove-frontleg .birds__curly:before {
  top: 0px;
  left: 12px;
  width: 7px;
  height: 5px;
  border-radius: 0 0 7px 7px;
  background: #d3d3d3;
}
.birds__hatdove-backwing {
  top: 186px;
  left: 20px;
  width: 100px;
  height: 90px;
  border-radius: 0 0 0 100%;
  background: #d3d3d3;
}
.birds__hatdove-backwing:after {
  top: -18px;
  left: 2px;
  width: 24px;
  height: 30px;
  border-radius: 100% 100% 0 0;
  transform-origin: right bottom;
  box-sizing: border-box;
  border-top: 8px solid #d3d3d3;
  border-right: 13px solid #d3d3d3;
  animation: hatdove-finger 0.6s infinite;
  animation-delay: -0.1s;
}
.birds__hatdove-backwing:before {
  top: -18px;
  left: 16px;
  width: 24px;
  height: 30px;
  border-radius: 100% 100% 0 0;
  transform-origin: right bottom;
  box-sizing: border-box;
  border-top: 8px solid #d3d3d3;
  border-right: 13px solid #d3d3d3;
  animation: hatdove-finger 0.6s infinite;
}
.birds__hatdove-frontwing {
  top: 213px;
  left: 106px;
  width: 62px;
  height: 58px;
  border-radius: 100%;
  background: #e2e2e2;
}
.birds__hatdove-frontwing:after {
  top: -5px;
  left: -15px;
  width: 56px;
  height: 20px;
  border-radius: 4px;
  background: #e2e2e2;
  transform: rotate(14deg);
}
.birds__hatdove-frontwing:before {
  top: -73px;
  left: 9px;
  width: 45px;
  height: 110px;
  border-radius: 100%;
  background: #e2e2e2;
  transform-origin: right bottom;
  transform: rotate(-50deg);
}
.birds__hatdove .birds__circles-2 {
  top: 121px;
  left: 116px;
  width: 58px;
  height: 110px;
  border-radius: 100%;
  transform-origin: right bottom;
  transform: rotate(-60deg);
  overflow: hidden;
}
.birds__hatdove .birds__circles-2:after {
  top: -109px;
  left: -60px;
  width: 170px;
  height: 170px;
  border-radius: 100%;
  border: 8px solid #878787;
  box-shadow: inset 0 0 0 6px #e2e2e2, inset 0 0 0 14px #878787;
}
.birds__hatdove .birds__circles-1 {
  top: 135px;
  left: 66px;
  width: 58px;
  height: 110px;
  border-radius: 100%;
  transform-origin: right bottom;
  transform: rotate(-43deg);
  overflow: hidden;
}
.birds__hatdove .birds__circles-1:after {
  top: -109px;
  left: -85px;
  width: 170px;
  height: 170px;
  border-radius: 100%;
  border: 8px solid #878787;
  box-shadow: inset 0 0 0 6px #d3d3d3, inset 0 0 0 14px #878787;
}
.birds__hatdove-frontwing-finger {
  top: 174px;
  width: 24px;
  height: 30px;
  border-radius: 100% 100% 0 0;
  transform-origin: right bottom;
  box-sizing: border-box;
  border-top: 8px solid #e2e2e2;
  border-right: 13px solid #e2e2e2;
  animation: hatdove-finger 0.6s infinite;
}
.birds__hatdove-frontwing-finger:nth-child(10) {
  left: 44px;
  animation-delay: -0.2s;
}
.birds__hatdove-frontwing-finger:nth-child(11) {
  left: 56px;
  animation-delay: -0.5s;
}
.birds__hatdove-frontwing-finger:nth-child(12) {
  left: 68px;
  animation-delay: -0.4s;
}
.birds__rundove {
  top: 70px;
  left: 90px;
  width: 255px;
  height: 400px;
  animation: rundove 2.75s linear infinite;
}
.birds__rundove-head {
  top: 0px;
  left: 99px;
  width: 80px;
  height: 190px;
  border-radius: 40px 40px 0 0;
  background: #878787;
  transform-origin: right bottom;
  animation: rundove-head 2.75s linear infinite;
}
.birds__rundove-head:before {
  top: 22px;
  left: 52px;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background: #878787;
}
.birds__rundove-eye {
  top: 25px;
  left: 54px;
  width: 37px;
  height: 37px;
  border-radius: 100%;
  background: white;
  overflow: hidden;
  animation: rundove-eye 2.75s linear infinite;
}
.birds__rundove-eye:before {
  top: 6px;
  left: 19px;
  width: 7px;
  height: 22px;
  border-radius: 100%;
  background: black;
}
.birds__rundove-eye:after {
  top: -30px;
  left: -2px;
  width: 50px;
  height: 22px;
  border-radius: 100%;
  background: #878787;
  animation: rundove-eyelid 2.75s linear infinite;
}
.birds__rundove-eye:nth-child(2) {
  left: 22px;
}
.birds__rundove-beak {
  top: 64px;
  left: 51px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background: white;
}
.birds__rundove-beak:after {
  top: 17px;
  left: 1px;
  width: 31px;
  height: 8px;
  transform-origin: left top;
  border-radius: 0 1px 70px 14px / 0 1px 20px 14px;
  background: #ff5629;
  animation: rundove-beak 2.75s linear infinite;
}
.birds__rundove-beak:before {
  top: 2px;
  left: 1px;
  width: 46px;
  height: 15px;
  border-radius: 14px 30px 1px 0 / 13px 14px 1px 0;
  background: #ff5629;
}
.birds__rundove-body {
  top: 174px;
  left: 98px;
  width: 91px;
  height: 110px;
  border-radius: 0px 13px 40px 0px / 0px 70px 40px 0px;
  background: #d3d3d3;
}
.birds__rundove-body:after {
  top: 0px;
  left: -68px;
  border-bottom: 110px solid #d3d3d3;
  border-left: 68px solid transparent;
  border-radius: 0 0 0 20px / 0 0 0 40px;
  transform-origin: right bottom;
  transform: rotate(10deg);
  animation: rundove-tail 2.75s linear infinite;
}
.birds__rundove-body:before {
  top: 40px;
  left: -100px;
  border-bottom: 70px solid #1d1d1b;
  border-left: 100px solid transparent;
  border-radius: 0 0 0 12px / 0 0 0 70px;
  transform-origin: right bottom;
  transform: rotate(10deg);
  animation: rundove-tail 2.75s linear infinite;
}
.birds__rundove-shadow {
  top: 433px;
  left: 43px;
  width: 162px;
  height: 12px;
  border-radius: 100%;
  background: #dddddd;
  animation: rundove-shadow 2.75s linear infinite;
}
.birds__rundove-backleg {
  top: 273px;
  left: 113px;
  width: 19px;
  transform-origin: 9.5px 0;
  border-style: solid;
  border-color: #afafaf transparent;
  border-width: 46px 12px 0;
  animation: rundove-back-knee 2.75s linear infinite;
}
.birds__rundove-backleg:after {
  top: 45px;
  left: -3px;
  width: 36px;
  height: 6px;
  transform-origin: 10.5px -46px;
  border-radius: 3px;
  background: #ff5629;
  animation: rundove-back-foot 2.75s linear infinite;
}
.birds__rundove-backleg:before {
  top: -8px;
  left: 2px;
  width: 15px;
  height: 57px;
  border-radius: 7px 7px 3px 3px;
  transform-origin: 7.5px 8px;
  background: #ff5629;
  animation: rundove-back-leg 2.75s linear infinite;
}
.birds__rundove-backleg .birds__curly {
  top: -10px;
  left: 0px;
  width: 7px;
  height: 15px;
  border-radius: 0 0 7px 7px;
  background: #afafaf;
}
.birds__rundove-backleg .birds__curly:after {
  top: 0px;
  left: 6px;
  width: 7px;
  height: 15px;
  border-radius: 0 0 7px 7px;
  background: #afafaf;
}
.birds__rundove-backleg .birds__curly:before {
  top: 0px;
  left: 12px;
  width: 7px;
  height: 15px;
  border-radius: 0 0 7px 7px;
  background: #afafaf;
}
.birds__rundove-frontleg {
  top: 273px;
  left: 87px;
  width: 19px;
  border-style: solid;
  border-color: #d3d3d3 transparent;
  transform-origin: 9.5px 0;
  border-width: 46px 12px 0;
  animation: rundove-front-knee 2.75s linear infinite;
}
.birds__rundove-frontleg:after {
  top: 45px;
  left: -3px;
  width: 36px;
  height: 6px;
  border-radius: 3px;
  transform-origin: 10.5px -46px;
  background: #ff5629;
  animation: rundove-front-foot 2.75s linear infinite;
}
.birds__rundove-frontleg:before {
  top: -8px;
  left: 2px;
  width: 15px;
  height: 57px;
  border-radius: 7px 7px 3px 3px;
  transform-origin: 7.5px 8px;
  background: #ff5629;
  animation: rundove-front-leg 2.75s linear infinite;
}
.birds__rundove-frontleg .birds__curly {
  top: -10px;
  left: 0px;
  width: 7px;
  height: 15px;
  border-radius: 0 0 7px 7px;
  background: #d3d3d3;
}
.birds__rundove-frontleg .birds__curly:after {
  top: 0px;
  left: 6px;
  width: 7px;
  height: 15px;
  border-radius: 0 0 7px 7px;
  background: #d3d3d3;
}
.birds__rundove-frontleg .birds__curly:before {
  top: 0px;
  left: 12px;
  width: 7px;
  height: 15px;
  border-radius: 0 0 7px 7px;
  background: #d3d3d3;
}
.birds__rundove-backwing {
  top: 150px;
  left: 84px;
  width: 85px;
  height: 85px;
  border-radius: 0 100% 40px 100%;
  background: #e2e2e2;
  transform-origin: 80px 80px;
  transform: rotate(110deg);
  animation: rundove-back-wing 2.75s linear infinite;
}
.birds__rundove-backwing .birds__finger:nth-child(1) {
  top: -6px;
  left: 40px;
  width: 20px;
  height: 50px;
  transform: rotate(95deg);
  background: #878787;
  border-radius: 100% 0;
  transform-origin: 5px 5px;
}
.birds__rundove-backwing .birds__finger:nth-child(2) {
  top: 40px;
  left: 3px;
  width: 20px;
  height: 50px;
  transform: rotate(165deg);
  background: #878787;
  border-radius: 0 100%;
  transform-origin: 5px 5px;
  z-index: 22;
}
.birds__rundove-backwing .birds__finger:nth-child(3) {
  top: 20px;
  left: 20px;
  width: 15px;
  height: 50px;
  transform: rotate(135deg);
  background: #878787;
  border-radius: 100%;
  transform-origin: 5px 5px;
}
.birds__rundove-backwing .birds__circles {
  width: 85px;
  height: 85px;
  border-radius: 0 100% 40px 100%;
  overflow: hidden;
}
.birds__rundove-backwing .birds__circles:after {
  top: 10px;
  left: 10px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 8px solid #878787;
  box-shadow: 0 0 0 7px #e2e2e2, 0 0 0 60px #878787;
}
.birds__rundove-frontwing {
  top: 132px;
  left: 67px;
  width: 85px;
  height: 85px;
  border-radius: 0 100% 40px 100%;
  background: #e2e2e2;
  transform-origin: 80px 80px;
  transform: rotate(-68deg);
  animation: rundove-front-wing 2.75s linear infinite;
}
.birds__rundove-frontwing .birds__circles {
  width: 85px;
  height: 85px;
  border-radius: 0 100% 40px 100%;
  overflow: hidden;
  transform: rotate(0deg);
}
.birds__rundove-frontwing .birds__circles:after {
  top: 10px;
  left: 10px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 8px solid #878787;
  box-shadow: 0 0 0 7px #e2e2e2, 0 0 0 60px #878787;
}
.birds__rundove-frontwing .birds__finger:nth-child(1) {
  top: -6px;
  left: 40px;
  width: 20px;
  height: 50px;
  transform: rotate(85deg);
  background: #878787;
  border-radius: 100% 0;
  transform-origin: 5px 5px;
  animation: rundove-front-finger-1 2.75s linear infinite;
}
.birds__rundove-frontwing .birds__finger:nth-child(2) {
  top: 40px;
  left: 3px;
  width: 20px;
  height: 50px;
  transform: rotate(185deg);
  background: #878787;
  border-radius: 0 100%;
  transform-origin: 5px 5px;
  animation: rundove-front-finger-2 2.75s linear infinite;
}
.birds__rundove-frontwing .birds__finger:nth-child(3) {
  top: 28px;
  left: 28px;
  width: 20px;
  height: 50px;
  transform: rotate(140deg);
  background: #878787;
  border-radius: 100%;
  transform-origin: 5px 5px;
  animation: rundove-front-finger-3 2.75s linear infinite;
}
.birds__table-shadow {
  top: 161px;
  left: 89px;
  width: 194px;
  height: 12px;
  border-radius: 100%;
  background: #dddddd;
}
.birds__table {
  top: 272px;
  left: 217px;
  width: 374px;
  height: 10px;
  border-radius: 5px;
  background: #1d1d1b;
}
.birds__table:before {
  top: 10px;
  left: 176px;
  width: 16px;
  height: 140px;
  background: #ff5629;
}
.birds__table:after {
  top: 137px;
  left: 123px;
  width: 14px;
  border-style: solid;
  border-color: #ff5629 transparent;
  border-width: 0 54px 30px;
}
.birds__laptop:nth-child(3) {
  top: 265px;
  left: 476px;
  height: 7px;
  width: 80px;
  border-radius: 4px;
  background: #f7f7f7;
}
.birds__laptop:nth-child(3):before {
  bottom: 0;
  left: -136px;
  height: 85px;
  width: 124px;
  background: #c6c6c6;
  border-radius: 8px;
  box-shadow: 7px 0 0 #e5e5e5;
  transform: skew(20deg);
}
.birds__laptop:nth-child(4) {
  top: 265px;
  left: 256px;
  height: 7px;
  width: 186px;
  border-radius: 4px;
  background: #f7f7f7;
}
.birds__laptop:nth-child(4):before {
  bottom: 7px;
  left: 80px;
  height: 82px;
  width: 116px;
  background: #4c4c4c;
  border-radius: 8px;
  box-shadow: 5px 0 0 #e5e5e5;
  transform: skew(-20deg);
}
.birds__monitor {
  top: -76px;
  left: 88px;
  height: 70px;
  width: 100px;
  background: #1d1d1b;
  transform: skew(-20deg);
}
.birds__monitor:before {
  top: 16px;
  left: 10px;
  height: 4px;
  width: 54px;
  background: white;
  border-radius: 8px;
}
.birds__monitor:after {
  top: 24px;
  left: 10px;
  height: 4px;
  width: 26px;
  background: white;
  border-radius: 8px;
}
.birds__code {
  top: 32px;
  left: 10px;
  height: 4px;
  width: 38px;
  border-radius: 8px;
  background: white;
  transform: skew(-20deg);
}
.birds__code:before {
  top: 0;
  left: 42px;
  height: 4px;
  width: 11px;
  background: white;
  border-radius: 8px;
}
.birds__code:after {
  top: 9px;
  left: 2px;
  height: 4px;
  width: 30px;
  background: white;
  border-radius: 8px;
}
.birds__coffee {
  top: 229px;
  left: 335px;
  height: 43px;
  width: 35px;
  background: #ededed;
  animation: birds-coffee 2.75s linear infinite;
  transition: 0.2s ease;
}
.birds__coffee:before {
  top: -6px;
  left: -3px;
  height: 6px;
  width: 40px;
  background: #e2e2e2;
}
.birds__coffee:after {
  top: -12px;
  left: 2px;
  height: 6px;
  width: 31px;
  background: #e2e2e2;
}
.birds__feather:nth-child(6) {
  top: 296px;
  left: 234px;
  width: 15px;
  height: 60px;
  border-radius: 100%;
  background: #d3d3d3;
  transform: rotate(60deg);
  overflow: hidden;
  animation: birds-feather-1 2.75s linear infinite;
  transition: 0.2s ease;
}
.birds__feather:nth-child(6):before {
  top: 30px;
  left: -15px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #878787;
  box-shadow: inset 0 0 0 4px #d3d3d3;
  background: #878787;
}
.birds__feather:nth-child(7) {
  top: 296px;
  left: 234px;
  width: 15px;
  height: 60px;
  border-radius: 100%;
  background: #d3d3d3;
  transform: rotate(60deg);
  overflow: hidden;
  animation: birds-feather-2 2.75s linear infinite;
  transition: 0.2s ease;
}
.birds__feather:nth-child(7):before {
  top: 30px;
  left: -15px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #878787;
  box-shadow: inset 0 0 0 4px #d3d3d3;
  background: #878787;
}

@keyframes birds-feather-1 {
  0% {
    transform: rotate(90deg) translate(-3px, -21px);
  }
  2.94% {
    transform: rotate(100deg) translate(-8px, -23px);
  }
  13.23% {
    transform: rotate(124deg) translate(-39px, 37px);
  }
  16.17% {
    transform: rotate(130deg) translate(-48px, 41px);
  }
  69.09% {
    transform: rotate(120deg) translate(8px, -41px);
  }
  72.03% {
    transform: rotate(90deg) translate(1px, -47px);
  }
  80.85% {
    transform: rotate(66deg) translate(-41px, -44px);
  }
  100% {
    transform: rotate(90deg) translate(-3px, 21px);
  }

  16.17% {
    opacity: 1;
  }
  17% {
    opacity: 0;
  }
  69% {
    opacity: 0;
  }
  69.09% {
    opacity: 1;
  }
}
@keyframes birds-feather-2 {
  0% {
    transform: rotate(-64deg) translate(53px, 39px);
  }
  2.94% {
    transform: rotate(-68deg) translate(54px, 38px);
  }
  13.23% {
    transform: rotate(-100deg) translate(48px, 20px);
  }
  69.09% {
    transform: rotate(-114deg) translate(-16px, 123px);
  }
  72.03% {
    transform: rotate(-120deg) translate(-9px, 111px);
  }
  80.85% {
    transform: rotate(-100deg) translate(11px, 81px);
  }
  100% {
    transform: rotate(-64deg) translate(53px, 39px);
  }

  13.23% {
    opacity: 1;
  }
  14% {
    opacity: 0;
  }
  69% {
    opacity: 0;
  }
  69.09% {
    opacity: 1;
  }
}
@keyframes hatdove-head {
  14.70% {
    transform: translate(0px, 0px);
  }
  17.64% {
    transform: translate(0px, 16px);
  }
  22.05% {
    transform: translate(0px, -5px);
  }
  27.93% {
    transform: translate(0px, 0px);
  }
}
@keyframes hatdove-eye {
  17.60% {
    transform: scaleY(1);
  }
  17.64% {
    transform: scaleY(0);
  }
  19.11% {
    transform: scaleY(0);
  }
  22.05% {
    transform: scaleY(1);
  }
}
@keyframes hatdove-pupil {
  17.64% {
    transform: translate(0px, 0px);
  }
  19.11% {
    transform: translate(-5px, -3px);
  }
  52.92% {
    transform: translate(-5px, -3px);
  }
  54.39% {
    transform: translate(0px, 0px);
  }
}
@keyframes hatdove-finger {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rundove {
  0% {
    transform: rotate(0deg) translate(-290px, -40px);
  }
  5.88% {
    transform: rotate(-10deg) translate(-290px, -40px);
  }
  17.64% {
    transform: rotate(-10deg) translate(-40px, -10px);
  }
  23.52% {
    transform: rotate(0deg) translate(-1px, -1px);
  }
  52.92% {
    transform: rotate(0deg) translate(-1px, -1px);
  }
  67.62% {
    transform: rotate(18deg) translate(-16px, 27px);
  }
  72.03% {
    transform: rotate(17deg) translate(214px, -50px);
  }
  76.44% {
    transform: rotate(8deg) translate(429px, -53px);
  }
  86.79% {
    transform: rotate(19deg) translate(710px, -250px);
  }
  100% {
    transform: rotate(0) translate(710px, -220px);
  }
}
@keyframes rundove-tail {
  05.88% {
    transform: rotate(0deg);
  }
  17.64% {
    transform: rotate(3deg);
  }
  23.52% {
    transform: rotate(0deg);
  }
  52.92% {
    transform: rotate(1deg);
  }
  67.62% {
    transform: rotate(2deg);
  }
  72.03% {
    transform: rotate(3deg);
  }
  76.44% {
    transform: rotate(13deg);
  }
  86.73% {
    transform: rotate(13deg);
  }
}
@keyframes rundove-head {
  05.88% {
    transform: rotate(0deg);
  }
  17.64% {
    transform: rotate(-9deg);
  }
  23.52% {
    transform: rotate(9deg);
  }
  28.12% {
    transform: rotate(-9deg);
  }
  34.04% {
    transform: rotate(9deg);
  }
  52.92% {
    transform: rotate(-4deg);
  }
  67.62% {
    transform: rotate(-11deg);
  }
  72.03% {
    transform: rotate(-16deg);
  }
  76.44% {
    transform: rotate(-13deg);
  }
  86.73% {
    transform: rotate(-8deg);
  }
}
@keyframes rundove-eye {
  54.39% {
    transform: scaleY(1);
  }
  56.24% {
    transform: scaleY(0);
  }
  57.72% {
    transform: scaleY(0);
  }
  60.27% {
    transform: scaleY(1);
  }
}
@keyframes rundove-eyelid {
  57.72% {
    transform: translateY(0);
  }
  60.27% {
    transform: translateY(19px);
  }
  100.0% {
    transform: translateY(19px);
  }
}
@keyframes rundove-front-knee {
  53.28% {
    transform: rotate(0deg);
  }
  57.72% {
    transform: rotate(0deg);
  }
  68.08% {
    transform: rotate(-5deg);
  }
  72.52% {
    transform: rotate(-59deg);
  }
  79.92% {
    transform: rotate(9deg);
  }
  100.0% {
    transform: rotate(-59deg);
  }
}
@keyframes rundove-front-leg {
  53.28% {
    transform: rotate(0deg);
  }
  68.08% {
    transform: rotate(113deg);
  }
  72.52% {
    transform: rotate(-3deg);
  }
  79.92% {
    transform: rotate(55deg);
  }
  100.0% {
    transform: rotate(-3deg);
  }
}
@keyframes rundove-front-foot {
  17.64% {
    transform: rotate(-10deg);
  }
  23.52% {
    transform: rotate(0deg);
  }
  53.28% {
    transform: rotate(0deg);
  }
  67.62% {
    transform: rotate(113deg);
  }
  72.03% {
    transform: rotate(-3deg);
  }
  79.92% {
    transform: rotate(55deg);
  }
  100.0% {
    transform: rotate(-3deg);
  }
}
@keyframes rundove-back-knee {
  53.28% {
    transform: rotate(0deg) translate(0, 0);
  }
  62.16% {
    transform: rotate(-60deg) translate(0, 0);
  }
  68.08% {
    transform: rotate(-60deg) translate(0, 0);
  }
  72.52% {
    transform: rotate(60deg) translate(10px, -20px);
  }
  82.88% {
    transform: rotate(-50deg) translate(0, 0);
  }
  100% {
    transform: rotate(60deg) translate(10px, -20px);
  }
}
@keyframes rundove-back-leg {
  53.28% {
    transform: rotate(0deg);
  }
  62.16% {
    transform: rotate(65deg);
  }
  68.08% {
    transform: rotate(65deg);
  }
  72.52% {
    transform: rotate(0deg);
  }
  82.88% {
    transform: rotate(70deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rundove-back-foot {
  17.76% {
    transform: rotate(-10deg) translate(0, 0);
  }
  23.52% {
    transform: rotate(0deg) translate(0, 0);
  }
  53.28% {
    transform: rotate(0deg) translate(0, 0);
  }
  62.16% {
    transform: rotate(42deg) translate(-9px, -14px);
  }
  68.08% {
    transform: rotate(42deg) translate(-9px, -14px);
  }
  72.52% {
    transform: rotate(15deg) translate(15px, 2px);
  }
  82.88% {
    transform: rotate(70deg) translate(0, 0);
  }
  100% {
    transform: rotate(15deg) translate(15px, 2px);
  }
}
@keyframes rundove-front-wing {
  0% {
    transform: rotate(-68deg) translate(0, 0);
  }
  57.33% {
    transform: rotate(-68deg) translate(0, 0);
  }
  67.62% {
    transform: rotate(-210deg) translate(-60px, 0);
  }
  72.03% {
    transform: rotate(-70deg) translate(0, 10px);
  }
  80.85% {
    transform: rotate(-210deg) translate(-60px, 0);
  }
}
@keyframes rundove-front-finger-1 {
  0% {
    transform: rotate(85deg);
  }
  55.86% {
    transform: rotate(85deg);
  }
  57.33% {
    transform: rotate(110deg);
  }
  67.62% {
    transform: rotate(90deg);
  }
}
@keyframes rundove-front-finger-2 {
  0% {
    transform: rotate(185deg);
  }
  55.86% {
    transform: rotate(185deg);
  }
  57.33% {
    transform: rotate(160deg);
  }
  67.62% {
    transform: rotate(100deg);
  }
}
@keyframes rundove-front-finger-3 {
  0% {
    transform: rotate(140deg) translate(0, 0);
  }
  55.86% {
    transform: rotate(140deg) translate(0, 0);
  }
  57.33% {
    transform: rotate(132deg) translate(-8px, -8px);
  }
  67.62% {
    transform: rotate(90deg) translate(-8px, -8px);
  }
}
@keyframes rundove-back-wing {
  0% {
    transform: rotate(110deg) translateY(0);
  }
  29.4% {
    transform: rotate(110deg) translateY(0);
  }
  35.28% {
    transform: rotate(70deg) translateY(-25px);
  }
  49.98% {
    transform: rotate(65deg) translateY(-25px);
  }
  67.62% {
    transform: rotate(335deg) translateY(0);
  }
  72.03% {
    transform: rotate(125deg) translateY(0);
  }
  83.79% {
    transform: rotate(335deg) translateY(0);
  }
}
@keyframes rundove-beak {
  0% {
    transform: scaleX(1);
  }
  32.4% {
    transform: scaleX(1);
  }
  33.81% {
    transform: scaleX(1.5);
  }
  49.98% {
    transform: scaleX(1.5);
  }
  50% {
    transform: scaleX(1);
  }
}
@keyframes rundove-shadow {
  0% {
    transform: translateX(-243px);
  }
  5.88% {
    transform: translateX(30px);
  }
  17.64% {
    transform: translateX(50px);
  }
  23.52% {
    transform: translateX(80px);
  }
  52.92% {
    transform: translateX(80px);
  }
  67.62% {
    transform: translateX(80px);
  }
  72.03% {
    transform: translateX(280px);
  }
  76.44% {
    transform: translateX(500px);
  }
  86.79% {
    transform: translateX(760px);
  }
  100% {
    transform: translateX(760px);
  }
}
@keyframes birds-coffee {
  10.29% {
    transform: rotate(11deg) translate(4px, -3px);
  }
  24.99% {
    transform: rotate(-5deg) translate(-2px, -1px);
  }
  29.4% {
    transform: rotate(-1deg) translate(0, -1px);
  }
  33.81% {
    transform: rotate(-24deg) translate(-20px, -59px);
  }
  49.98% {
    transform: rotate(-44deg) translate(25px, -99px);
  }
  54.39% {
    transform: rotate(0deg) translate(-1px, 0);
  }
  70.56% {
    transform: rotate(0deg) translate(-1px, 0);
  }
  79.38% {
    transform: rotate(30deg) translate(15px, -6px);
  }
  94.08% {
    transform: rotate(-20deg) translate(-10px, -5px);
  }

  10.29% {
    z-index: 100;
  }
  33.81% {
    z-index: 100;
  }
  49.98% {
    z-index: 0;
  }
  94.08% {
    z-index: 0;
  }
}
