<!-- home section starts  -->

<section class="home" id="home">
  <div class="content">
    <h3>GeeksForGeeks</h3>
    <p class="mid-size main-color">Student Chapter CUH</p>
    <p>Register for our upcoming events NOW!</p>
    <a routerLink="/events" class="btn">register!</a>
  </div>
</section>

<!-- home section ends -->
<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
