<section class="about margT-10" id="about">
  <h1 class="heading"><span>EVENT CANCELLATION & </span> REFUND POLICY</h1>
  <div class="row">
    <div class="content">
      <p>
        The following policy covers all events organized by
        <a class="site-link" routerLink="/home"
          >GeeksforGeeks Student Chapters Central University of Haryana</a
        >, including Webinars, Hackathons and Competitions, and applies to all
        circumstances. Please carefully review the following when registering.
        By registering to attend an event, you agree to the following:
      </p>
      <h3 class="terms">Tickets</h3>
      <p>
        Your registration is not complete until full payment is received. All
        tickets are valid for the named attendee only and can¬not be transferred
        during the event dates. If you cannot attend the event, please contact
        us.
      </p>
      <h3 class="terms">Substitution and Transfer</h3>
      <p>
        TRANSFERRING YOUR TICKET TO SOMEONE ELSE <br />
        Tickets are non-transferrable.
      </p>
      <p>
        CREDIT OR TRANSFER BETWEEN EVENTS <br />
        It is not possible to transfer your ticket to another
        <a class="site-link" routerLink="/home"
          >GeeksforGeeks Student Chapters Central University of Haryana</a
        >
        event.
      </p>
      <h3 class="terms">Cancellation</h3>
      <p>
        1. ONLINE EVENTS <br />
        All online event tickets are non-refundable. It's participants'
        responsibility to be able to access the online events using the
        instructed platforms (can be Zoom, Meet, Webex, etc). There are no
        refunds for missed attendance or delays due to technical issues,
        connectivity or other problems. Please carefully review the
        time/timezone to join on time.
      </p>
      <p>
        2. OFFLINE/PHYSICAL EVENTS <br />

        If you must cancel your booking, please submit a written notice to our
        email address listed on the order confirmation email. If we receive a
        valid cancellation request, More than 1 week prior to the the event,then
        50% refund will be issued.
      </p>
      <p>
        If <a class="site-link" routerLink="/home"
        >GeeksforGeeks Student Chapters Central University of Haryana</a
      > is
        required to cancel an event, we will initiate your refund for the paid
        amount within 5-7 working days.
      </p>
      <h3 class="terms">For All Events</h3>
      <p>
        This policy applies to all circumstances including any COVID-19 related
        reasons such as: transportation disruptions and cancellations, border
        closures, travel visas being declined, illness, travel or health
        advisories and quarantines. COVID-19 and its consequences are no longer
        unforeseen thus our extended support has ended and our cancellation
        policy will apply as usual. All participants acknowledge that changes in
        itinerary, location, content, host or other arrangements may happen with
        little or no notice before the event date, in response to reasons
        including but not limited to: weather events, security events, closed
        borders, public health scares, host or team sickness or injury.
        <a class="site-link" routerLink="/home"
          >GeeksforGeeks Student Chapters Central University of Haryana</a
        > reserves
        the right to do so at any time, although we will make every attempt to
        make decisions jointly with the participants.
      </p>
      <p>
        In such cases, our liability is limited to refunding the fees according
        to the policy above for the affected event. Beyond that, we shall not be
        liable for any costs or loss resulting from changes or cancellation as a
        result of an event outside our reasonable control. We reserve the right
        to return the payment and refuse acceptance of the booking at any time,
        for any reason, at no penalty to us. Any refund due, once approved, will
        be issued within 30 days of receipt of the cancellation notice to your
        original payment method, which usually show up in 5 - 7 days. Our
        contact details can be found in each booking confirmation email. If you
        have any other questions, contact-us.
      </p>
    </div>
  </div>
</section>
